prisma (https://github.com/tammok/PRISMA)
derrick (https://github.com/rieck/derrick)
sally (https://github.com/rieck/sally)
R
mergecap
pygraphviz
python-Levenshtein

# Optional
cuckoo (https://github.com/cuckoobox/cuckoo)

# The PRISMA, derrick, Sallary tools need to be installed one-by-one
# On Centos, R, mergecap, pygraphviz and python-Levenshtein can be installed by;
sudo yum install R wireshark python python-pip graphviz graphviz-devel
sudo pip install --upgrade pip  # Optional
sudo pip install pygraphviz
sudo pip install python-Levenshtein  # Some errors and warnings present
