prisma (https://github.com/tammok/PRISMA)
derrick (https://github.com/rieck/derrick)
sally (https://github.com/rieck/sally)
cuckoo (https://github.com/cuckoobox/cuckoo)
R
mergecap
pygraphviz
python-Levenshtein
